<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header">
    <title>notebook</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:replace="layout/nav :: nav"></div>
    
    <div class="container-fluid">
      <div class="row">
    		<div th:replace="layout/sidebar :: sidebar"></div>

			<div class="main col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
				<div class="main-title">
					<h1 id="title">my first note</h1>
					<input type="text" class="form-control display-none" id="titleInput" placeholder="note title"/>
				</div>
				<div class="main-content">
					<div id="content">note content example</div>
					<textarea class="form-control display-none" id="contentInput" rows="10" placeholder="note content"></textarea>
				</div>
			</div>
		</div>
    </div>
    <div th:replace="layout/footer :: footer"></div>
</body>
</html>